In [1]:
import pandas as pd
import geopandas as gpd
#truck routes
ct = gpd.read_file('data/2010 Census Tracts.geojson')
ct

,ntacode,shape_area,ntaname,shape_leng,boro_name,puma,ct2010,boro_code,cdeligibil,boro_ct2010,ctlabel,geometry
0,SI22,2497009.69813,West New Brighton-New Brighton-St. George,7729.01679376,Staten Island,3903,000900,5,E,5000900,9,"MULTIPOLYGON (((-74.07921 40.64343, -74.07914 ..."
1,MN19,1906016.37104,Turtle Bay-East Midtown,5534.20005771,Manhattan,3808,009800,1,I,1009800,98,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ..."
2,MN17,1860992.70485,Midtown-Midtown South,5687.80243866,Manhattan,3807,010200,1,I,1010200,102,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ..."
3,MN17,1864600.37503,Midtown-Midtown South,5693.03636655,Manhattan,3807,010400,1,I,1010400,104,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ..."
4,MN17,1890907.3117,Midtown-Midtown South,5699.86071223,Manhattan,3807,011300,1,I,1011300,113,"MULTIPOLYGON (((-73.98412 40.75484, -73.98460 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2160,MN01,6728399.53343,Marble Hill-Inwood,20679.4739888,Manhattan,3801,029900,1,E,1029900,299,"MULTIPOLYGON (((-73.92234 40.85568, -73.92234 ..."
2161,MN99,7737581.0184,park-cemetery-etc-Manhattan,27344.467073,Manhattan,3801,031100,1,I,1031100,311,"MULTIPOLYGON (((-73.92234 40.85568, -73.92230 ..."
2162,MN06,642025.154056,Manhattanville,3999.42822145,Manhattan,3802,022302,1,I,1022302,223.02,"MULTIPOLYGON (((-73.95556 40.81943, -73.95602 ..."
2163,MN19,1071405.83632,Turtle Bay-East Midtown,4967.85108221,Manhattan,3808,008602,1,I,1008602,86.02,"MULTIPOLYGON (((-73.96421 40.74660, -73.96427 ..."
2164,MN19,1257749.72519,Turtle Bay-East Midtown,4886.20759938,Manhattan,3808,008603,1,I,1008603,86.03,"MULTIPOLYGON (((-73.96163 40.75515, -73.96214 ..."