In [2]:
import pandas as pd
import geopandas as gpd
#truck routes
scl = gpd.read_file('data/NYC Street Centerline (CSCL).geojson')
scl

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,BATTERY PL,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,BATTERY PL,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,BATTERY PL,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,BATTERY PL,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,BATTERY PL,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120167,6,None,None,0,10475,None,None,PATH,0,None,...,None,2,NV,None,CO-OP CITY PEDESTRIAN PATH,192222,COOP CITY PEDESTRIAN,2021-06-04T00:00:00+00:00,None,"MULTILINESTRING ((-73.82562 40.87750, -73.8251..."
120168,6,None,None,0,10475,None,None,PATH,0,None,...,None,2,NV,None,CO-OP CITY PEDESTRIAN PATH,192223,COOP CITY PEDESTRIAN,2021-06-04T00:00:00+00:00,None,"MULTILINESTRING ((-73.82562 40.87750, -73.8254..."
120169,1,None,None,45,10454,None,2,AVE,1322600287,TF,...,C,2,TF,None,3 AVE,192224,THIRD,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-73.92931 40.80948, -73.9292..."
120170,1,None,None,45,10454,None,2,AVE,1322600287,TF,...,C,2,TF,None,3 AVE,192226,THIRD,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-73.92936 40.80944, -73.9293..."
120171,1,None,None,0,10454,None,None,AVE,0,None,...,C,2,TF,None,3 AVE,192228,THIRD,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-73.92941 40.80940, -73.9293..."

In [23]:
scl.dtypes

rw_type         object
l_low_hn        object
pre_direct      object
st_width        object
r_zip           object
r_low_hn        object
bike_lane       object
post_type       object
r_blkfc_id      object
bike_trafd      object
frm_lvl_co      object
post_modif      object
pre_type        object
full_stree      object
l_blkfc_id      object
shape_leng      object
to_lvl_co       object
modified        object
status          object
post_direc      object
r_high_hn       object
l_zip           object
snow_pri        object
borocode        object
trafdir         object
pre_modifi      object
st_label        object
physicalid      object
st_name         object
created         object
l_high_hn       object
geometry      geometry
dtype: object

In [3]:
scl['st_label'] = scl['st_label'].str.lower()
scl.head(10)

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,battery pl,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,battery pl,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,battery pl,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,battery pl,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,battery pl,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
5,1,300,W,38,10280,301,None,ST,1222607193,None,...,H,1,TW,None,w thames st,23,THAMES,2007-11-29T00:00:00+00:00,398,"MULTILINESTRING ((-74.01740 40.70846, -74.0181..."
6,1,200,W,60,10280,201,None,ST,1222602788,None,...,C,1,TW,None,w thames st,24,THAMES,2007-11-29T00:00:00+00:00,298,"MULTILINESTRING ((-74.01663 40.70813, -74.0174..."
7,1,136,W,60,10280,137,None,ST,1222602788,None,...,C,1,TW,None,w thames st,25,THAMES,2007-11-29T00:00:00+00:00,198,"MULTILINESTRING ((-74.01617 40.70790, -74.0166..."
8,1,None,None,34,10280,None,None,PL,1222601914,None,...,C,1,FT,None,1 pl,29,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01700 40.70580, -74.0179..."
9,6,None,None,0,10280,None,None,PL,0,None,...,None,1,NV,None,1 pl,30,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01793 40.70617, -74.0186..."

In [174]:
import pandas as pd
import geopandas as gpd

#traffic volume csv
traffic=pd.read_csv('https://raw.githubusercontent.com/AlejandraZS10/capstone_project/master/Traffic_Volume_Counts__2014-2019_.csv')
traffic.head(5)

HTTPError: HTTP Error 404: Not Found

In [59]:
traffic['Roadway Name'] = traffic['Roadway Name'].str.lower()
traffic['From'] = traffic['From'].str.lower()
traffic['To'] = traffic['To'].str.lower()
traffic.head(5)

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,2,70376,3 avenue,east 154 street,east 155 street,NB,09/13/2014,204.0,177.0,133.0,...,520,611,573,546,582,528,432,328,282,240
1,2,70376,3 avenue,east 155 street,east 154 street,SB,09/13/2014,140.0,51.0,128.0,...,379,376,329,362,418,335,282,247,237,191
2,56,176365,bedford park boulevard,grand concourse,valentine avenue,EB,09/13/2014,94.0,73.0,65.0,...,280,272,264,236,213,190,199,183,147,103
3,56,176365,bedford park boulevard,grand concourse,valentine avenue,WB,09/13/2014,88.0,82.0,75.0,...,237,276,223,240,217,198,186,162,157,103
4,62,147673,broadway,west 242 street,240 street,SB,09/13/2014,255.0,209.0,149.0,...,732,809,707,675,641,556,546,465,425,324

In [113]:
traffic['Roadway Name'] = traffic['Roadway Name'].str.replace('east ', 'e ') 
traffic['From'] = traffic['From'].str.replace('east ', 'e ') 
traffic['To'] = traffic['To'].str.replace('east ', 'e ') 
traffic['Roadway Name'] = traffic['Roadway Name'].str.replace('west ', 'w ') 
traffic['From'] = traffic['From'].str.replace('west ', 'w ') 
traffic['To'] = traffic['To'].str.replace('west ', 'w ')

In [4]:
from fuzzywuzzy import fuzz

scl['st_label'] = scl['st_label'].str.replace(' blvd', ' boulevard') 
scl['st_label'] = scl['st_label'].str.replace(' e ', 'east ') 
scl['st_label'] = scl['st_label'].str.replace(' w ', 'west ') 
scl['st_label'] = scl['st_label'].str.replace(' pkwy', ' parkway') 
scl['st_label'] = scl['st_label'].str.replace(' pl', ' place') 
scl['st_label'] = scl['st_label'].str.replace(' st', ' street') 
scl['st_label'] = scl['st_label'].str.replace(' rd', ' road')
scl['st_label'] = scl['st_label'].str.replace(' ave', ' avenue')
scl['st_label'] = scl['st_label'].str.replace('ave ', 'avenue ')
scl['st_label'] = scl['st_label'].str.replace(' ln', ' lane')
scl['st_label'] = scl['st_label'].str.replace(' dvwy', ' driveway')
scl['st_label'] = scl['st_label'].str.replace(' dr', ' drive')
scl['st_label'] = scl['st_label'].str.replace(' expy', ' expresspway')
scl['st_label'] = scl['st_label'].str.replace(' tunl', ' tunnel')
scl['st_label'] = scl['st_label'].str.replace(' brg', ' bridge')
scl['st_label'] = scl['st_label'].str.replace(' sq', ' square')
scl['st_label'] = scl['st_label'].str.replace(' plz', ' plaza')
scl['st_label'] = scl['st_label'].str.replace(' cir', ' circle')
scl['st_label'] = scl['st_label'].str.replace(' tpke', ' turnpike')
scl['st_label'] = scl['st_label'].str.replace(' cres', ' crescent')
scl['st_label'] = scl['st_label'].str.replace(' fwy', ' freeway')
scl['st_label'] = scl['st_label'].str.replace(' appr ', ' approach')
scl['st_label'] = scl['st_label'].str.replace(' lk', ' lake')
scl['st_label'] = scl['st_label'].str.replace(' hwy', ' highway')
scl['st_label'] = scl['st_label'].str.replace(' hts', ' heights')
scl['st_label'] = scl['st_label'].str.replace(' grn', ' green')
scl['st_label'] = scl['st_label'].str.replace(' pth', ' path')
scl['st_label'] = scl['st_label'].str.replace(' drwy', ' driveway')
scl['st_label'] = scl['st_label'].str.replace(' rdg', ' ridge')
scl.head(10)

/Users/alejandrazapatasoveranez/opt/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,battery place,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,battery place,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,battery place,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,battery place,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,battery place,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
5,1,300,W,38,10280,301,None,ST,1222607193,None,...,H,1,TW,None,w thames street,23,THAMES,2007-11-29T00:00:00+00:00,398,"MULTILINESTRING ((-74.01740 40.70846, -74.0181..."
6,1,200,W,60,10280,201,None,ST,1222602788,None,...,C,1,TW,None,w thames street,24,THAMES,2007-11-29T00:00:00+00:00,298,"MULTILINESTRING ((-74.01663 40.70813, -74.0174..."
7,1,136,W,60,10280,137,None,ST,1222602788,None,...,C,1,TW,None,w thames street,25,THAMES,2007-11-29T00:00:00+00:00,198,"MULTILINESTRING ((-74.01617 40.70790, -74.0166..."
8,1,None,None,34,10280,None,None,PL,1222601914,None,...,C,1,FT,None,1 place,29,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01700 40.70580, -74.0179..."
9,6,None,None,0,10280,None,None,PL,0,None,...,None,1,NV,None,1 place,30,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01793 40.70617, -74.0186..."

In [5]:
geom_df = scl[['st_label' , 'geometry'] ]
geom_df.head(3)

        st_label                                           geometry
0  battery place  MULTILINESTRING ((-74.01793 40.70617, -74.0178...
1  battery place  MULTILINESTRING ((-74.01757 40.70684, -74.0171...
2  battery place  MULTILINESTRING ((-74.01712 40.70746, -74.0166...

In [134]:
test= geom_df.loc[:100]

In [132]:
gdf1= geom_df.loc[10000:20000]
gdf2 = geom_df.loc[20000:30000]
gdf3 = geom_df.loc[30000:40000]
gdf4 = geom_df.loc[40000:50000]
gdf5 = geom_df.loc[50000:60000]
gdf6 = geom_df.loc[60000:70000]
gdf7 = geom_df.loc[70000:80000]
gdf8 = geom_df.loc[80000:90000]
gdf9 = geom_df.loc[90000:100000]
gdf10 = geom_df.loc[100000:110000]
gdf11 = geom_df.loc[110000:120172]

In [161]:
# add NEIGHBORS column
gdf["NEIGHBORS"] = None 

for index, street in gdf.iterrows():
    neighbors = gdf[gdf.geometry.touches(street['geometry'])].st_label.tolist()
    neighbors = [ name for name in neighbors if street.st_label != name ]
    neighbor = list(set(neighbors))
    gdf.at[index, "NEIGHBORS"] = ", ".join(neighbor)
    # save GeoDataFrame as a new file
gdf.to_file("streets2.geojson", driver='GeoJSON')

In [153]:
gdf4.head(3)

       st_label                                           geometry
40000  avenue l  MULTILINESTRING ((-73.94882 40.62168, -73.9479...
40001  avenue l  MULTILINESTRING ((-73.94790 40.62178, -73.9469...
40002  avenue l  MULTILINESTRING ((-73.94697 40.62189, -73.9459...

In [114]:
gdf.head(10)

,st_label,geometry,NEIGHBORS
0,battery place,"MULTILINESTRING ((-74.01793 40.70617, -74.0178...",1 place
1,battery place,"MULTILINESTRING ((-74.01757 40.70684, -74.0171...",
2,battery place,"MULTILINESTRING ((-74.01712 40.70746, -74.0166...",w thames street
3,battery place,"MULTILINESTRING ((-74.01694 40.70481, -74.0170...",
4,battery place,"MULTILINESTRING ((-74.01429 40.70455, -74.0143...",state street
5,w thames street,"MULTILINESTRING ((-74.01740 40.70846, -74.0181...",
6,w thames street,"MULTILINESTRING ((-74.01663 40.70813, -74.0174...",battery place
7,w thames street,"MULTILINESTRING ((-74.01617 40.70790, -74.0166...",battery place
8,1 place,"MULTILINESTRING ((-74.01700 40.70580, -74.0179...",battery place
9,1 place,"MULTILINESTRING ((-74.01793 40.70617, -74.0186...",battery place

In [20]:
# add NEIGHBORS column
gdf3["NEIGHBORS"] = None 

for index, street in gdf2.iterrows():  
    neighbors = gdf2[gdf2.geometry.touches(street['geometry'])].st_label.tolist()
    neighbors = [ name for name in neighbors if street.st_label != name ]
    neighbor = list(set(neighbors))
    gdf2.at[index, "NEIGHBORS"] = ", ".join(neighbors)
    # save GeoDataFrame as a new file
st.to_file("streets.geojson", driver='GeoJSON')

In [ ]:
gdf, gdf1, gdf2, gdf3, gdf4

In [173]:
test = traffic.merge(st, how='left', left_on=['Roadway Name','To'], right_on=['Roadway Name','To'])

NameError: name 'traffic' is not defined

In [167]:
st = pd.concat([gdf, gdf1, gdf2, gdf3, gdf4, gdf5, gdf6, gdf7, gdf8, gdf9, gdf10, gdf11])
st.head(3)

,st_label,geometry,NEIGHBORS
0,battery place,"MULTILINESTRING ((-74.01793 40.70617, -74.0178...",1 place
1,battery place,"MULTILINESTRING ((-74.01757 40.70684, -74.0171...",
2,battery place,"MULTILINESTRING ((-74.01712 40.70746, -74.0166...",w thames street

In [164]:
st.to_file("streets.geojson", driver='GeoJSON')

In [168]:
st['NEIGHBORS']= st['NEIGHBORS'].replace('""', '-')

In [169]:
# new data frame with split value columns
new = st["NEIGHBORS"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
st["To"]= new[0]
  
# making separate last name column from new data frame
st["From"]= new[1]
  
# Dropping old Name columns
st.drop(columns =["NEIGHBORS"], inplace = True)
  
# df display
st.head(15)

,st_label,geometry,To,From
0,battery place,"MULTILINESTRING ((-74.01793 40.70617, -74.0178...",1 place,None
1,battery place,"MULTILINESTRING ((-74.01757 40.70684, -74.0171...",,None
2,battery place,"MULTILINESTRING ((-74.01712 40.70746, -74.0166...",w thames street,None
3,battery place,"MULTILINESTRING ((-74.01694 40.70481, -74.0170...",,None
4,battery place,"MULTILINESTRING ((-74.01429 40.70455, -74.0143...",state street,None
5,w thames street,"MULTILINESTRING ((-74.01740 40.70846, -74.0181...",,None
6,w thames street,"MULTILINESTRING ((-74.01663 40.70813, -74.0174...",battery place,None
7,w thames street,"MULTILINESTRING ((-74.01617 40.70790, -74.0166...",battery place,None
8,1 place,"MULTILINESTRING ((-74.01700 40.70580, -74.0179...",battery place,None
9,1 place,"MULTILINESTRING ((-74.01793 40.70617, -74.0186...",battery place,None
10,hugh l carey tunnel,"MULTILINESTRING ((-74.01584 40.70199, -74.0158...",,None
11,hugh l carey tunnel,"MULTILINESTRING ((-74.01591 40.70146, -74.0159...",,None
12,hugh l carey tunnel,"MULTILINESTRING ((-74.01214 40.69204, -74.0124...",,None
13,hugh l carey tunnel,"MULTILINESTRING ((-74.00860 40.68591, -74.0087...",,None
14,hugh l carey tunnel,"MULTILINESTRING ((-74.01567 40.70184, -74.0156...",,None

In [172]:
st.rename(columns={"st_label": "Roadway Name"}, errors="raise")

,Roadway Name,geometry,To,From
0,battery place,"MULTILINESTRING ((-74.01793 40.70617, -74.0178...",1 place,None
1,battery place,"MULTILINESTRING ((-74.01757 40.70684, -74.0171...",,None
2,battery place,"MULTILINESTRING ((-74.01712 40.70746, -74.0166...",w thames street,None
3,battery place,"MULTILINESTRING ((-74.01694 40.70481, -74.0170...",,None
4,battery place,"MULTILINESTRING ((-74.01429 40.70455, -74.0143...",state street,None
...,...,...,...,...
120167,co-op city pedestrian path,"MULTILINESTRING ((-73.82562 40.87750, -73.8251...",cooper place,None
120168,co-op city pedestrian path,"MULTILINESTRING ((-73.82562 40.87750, -73.8254...",carver loop,None
120169,3 avenue,"MULTILINESTRING ((-73.92931 40.80948, -73.9292...",major deegan expresspway,None
120170,3 avenue,"MULTILINESTRING ((-73.92936 40.80944, -73.9293...",major deegan expresspway,None
120171,3 avenue,"MULTILINESTRING ((-73.92941 40.80940, -73.9293...",,None