In [129]:
import pandas as pd
import geopandas as gpd
#truck routes
scl = gpd.read_file('NYC Street Centerline (CSCL).geojson')
scl.head(5)

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,BATTERY PL,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,BATTERY PL,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,BATTERY PL,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,BATTERY PL,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,BATTERY PL,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."

In [23]:
scl.dtypes

rw_type         object
l_low_hn        object
pre_direct      object
st_width        object
r_zip           object
r_low_hn        object
bike_lane       object
post_type       object
r_blkfc_id      object
bike_trafd      object
frm_lvl_co      object
post_modif      object
pre_type        object
full_stree      object
l_blkfc_id      object
shape_leng      object
to_lvl_co       object
modified        object
status          object
post_direc      object
r_high_hn       object
l_zip           object
snow_pri        object
borocode        object
trafdir         object
pre_modifi      object
st_label        object
physicalid      object
st_name         object
created         object
l_high_hn       object
geometry      geometry
dtype: object

In [130]:
scl['st_label'] = scl['st_label'].str.lower()
scl.head(10)

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,battery pl,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,battery pl,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,battery pl,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,battery pl,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,battery pl,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
5,1,300,W,38,10280,301,None,ST,1222607193,None,...,H,1,TW,None,w thames st,23,THAMES,2007-11-29T00:00:00+00:00,398,"MULTILINESTRING ((-74.01740 40.70846, -74.0181..."
6,1,200,W,60,10280,201,None,ST,1222602788,None,...,C,1,TW,None,w thames st,24,THAMES,2007-11-29T00:00:00+00:00,298,"MULTILINESTRING ((-74.01663 40.70813, -74.0174..."
7,1,136,W,60,10280,137,None,ST,1222602788,None,...,C,1,TW,None,w thames st,25,THAMES,2007-11-29T00:00:00+00:00,198,"MULTILINESTRING ((-74.01617 40.70790, -74.0166..."
8,1,None,None,34,10280,None,None,PL,1222601914,None,...,C,1,FT,None,1 pl,29,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01700 40.70580, -74.0179..."
9,6,None,None,0,10280,None,None,PL,0,None,...,None,1,NV,None,1 pl,30,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01793 40.70617, -74.0186..."

In [58]:
import pandas as pd
import geopandas as gpd

#traffic volume csv
traffic=pd.read_csv('https://raw.githubusercontent.com/AlejandraZS10/capstone_project/master/Traffic_Volume_Counts__2014-2019_.csv')
traffic.head(5)

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,2,70376,3 Avenue,East 154 Street,East 155 Street,NB,09/13/2014,204.0,177.0,133.0,...,520,611,573,546,582,528,432,328,282,240
1,2,70376,3 Avenue,East 155 Street,East 154 Street,SB,09/13/2014,140.0,51.0,128.0,...,379,376,329,362,418,335,282,247,237,191
2,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,EB,09/13/2014,94.0,73.0,65.0,...,280,272,264,236,213,190,199,183,147,103
3,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,WB,09/13/2014,88.0,82.0,75.0,...,237,276,223,240,217,198,186,162,157,103
4,62,147673,Broadway,West 242 Street,240 Street,SB,09/13/2014,255.0,209.0,149.0,...,732,809,707,675,641,556,546,465,425,324

In [59]:
traffic['Roadway Name'] = traffic['Roadway Name'].str.lower()
traffic['From'] = traffic['From'].str.lower()
traffic['To'] = traffic['To'].str.lower()
traffic.head(5)

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,2,70376,3 avenue,east 154 street,east 155 street,NB,09/13/2014,204.0,177.0,133.0,...,520,611,573,546,582,528,432,328,282,240
1,2,70376,3 avenue,east 155 street,east 154 street,SB,09/13/2014,140.0,51.0,128.0,...,379,376,329,362,418,335,282,247,237,191
2,56,176365,bedford park boulevard,grand concourse,valentine avenue,EB,09/13/2014,94.0,73.0,65.0,...,280,272,264,236,213,190,199,183,147,103
3,56,176365,bedford park boulevard,grand concourse,valentine avenue,WB,09/13/2014,88.0,82.0,75.0,...,237,276,223,240,217,198,186,162,157,103
4,62,147673,broadway,west 242 street,240 street,SB,09/13/2014,255.0,209.0,149.0,...,732,809,707,675,641,556,546,465,425,324

In [113]:
traffic['Roadway Name'] = traffic['Roadway Name'].str.replace('east ', 'e ') 
traffic['From'] = traffic['From'].str.replace('east ', 'e ') 
traffic['To'] = traffic['To'].str.replace('east ', 'e ') 
traffic['Roadway Name'] = traffic['Roadway Name'].str.replace('west ', 'w ') 
traffic['From'] = traffic['From'].str.replace('west ', 'w ') 
traffic['To'] = traffic['To'].str.replace('west ', 'w ')

In [131]:
from fuzzywuzzy import fuzz

scl['st_label'] = scl['st_label'].str.replace(' blvd', ' boulevard') 
scl['st_label'] = scl['st_label'].str.replace(' e ', 'east ') 
scl['st_label'] = scl['st_label'].str.replace(' w ', 'west ') 
scl['st_label'] = scl['st_label'].str.replace(' pkwy', ' parkway') 
scl['st_label'] = scl['st_label'].str.replace(' pl', ' place') 
scl['st_label'] = scl['st_label'].str.replace(' st', ' street') 
scl['st_label'] = scl['st_label'].str.replace(' rd', ' road')
scl['st_label'] = scl['st_label'].str.replace(' ave', ' avenue')
scl['st_label'] = scl['st_label'].str.replace('ave ', 'avenue ')
scl['st_label'] = scl['st_label'].str.replace(' ln', ' lane')
scl['st_label'] = scl['st_label'].str.replace(' dvwy', ' driveway')
scl['st_label'] = scl['st_label'].str.replace(' dr', ' drive')
scl['st_label'] = scl['st_label'].str.replace(' expy', ' expresspway')
scl['st_label'] = scl['st_label'].str.replace(' tunl', ' tunnel')
scl['st_label'] = scl['st_label'].str.replace(' brg', ' bridge')
scl['st_label'] = scl['st_label'].str.replace(' sq', ' square')
scl['st_label'] = scl['st_label'].str.replace(' plz', ' plaza')
scl['st_label'] = scl['st_label'].str.replace(' cir', ' circle')
scl['st_label'] = scl['st_label'].str.replace(' tpke', ' turnpike')
scl['st_label'] = scl['st_label'].str.replace(' cres', ' crescent')
scl['st_label'] = scl['st_label'].str.replace(' fwy', ' freeway')
scl['st_label'] = scl['st_label'].str.replace(' appr ', ' approach')
scl['st_label'] = scl['st_label'].str.replace(' lk', ' lake')
scl['st_label'] = scl['st_label'].str.replace(' hwy', ' highway')
scl['st_label'] = scl['st_label'].str.replace(' hts', ' heights')
scl['st_label'] = scl['st_label'].str.replace(' grn', ' green')
scl['st_label'] = scl['st_label'].str.replace(' pth', ' path')
scl['st_label'] = scl['st_label'].str.replace(' drwy', ' driveway')
scl['st_label'] = scl['st_label'].str.replace(' rdg', ' ridge')
scl.head(10)

,rw_type,l_low_hn,pre_direct,st_width,r_zip,r_low_hn,bike_lane,post_type,r_blkfc_id,bike_trafd,...,snow_pri,borocode,trafdir,pre_modifi,st_label,physicalid,st_name,created,l_high_hn,geometry
0,1,50,None,42,10280,51,None,PL,1222601917,None,...,C,1,TW,None,battery place,3,BATTERY,2007-11-29T00:00:00+00:00,64,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,1,66,None,42,10280,65,None,PL,1222604562,None,...,C,1,TW,None,battery place,5,BATTERY,2007-11-29T00:00:00+00:00,82,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,1,84,None,42,10280,83,None,PL,1222600933,None,...,C,1,TW,None,battery place,6,BATTERY,2007-11-29T00:00:00+00:00,98,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,1,None,None,42,10280,None,None,PL,1222600931,None,...,C,1,TW,None,battery place,8,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,1,None,None,24,10004,None,None,PL,212262395,None,...,C,1,TF,None,battery place,14,BATTERY,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
5,1,300,W,38,10280,301,None,ST,1222607193,None,...,H,1,TW,None,w thames street,23,THAMES,2007-11-29T00:00:00+00:00,398,"MULTILINESTRING ((-74.01740 40.70846, -74.0181..."
6,1,200,W,60,10280,201,None,ST,1222602788,None,...,C,1,TW,None,w thames street,24,THAMES,2007-11-29T00:00:00+00:00,298,"MULTILINESTRING ((-74.01663 40.70813, -74.0174..."
7,1,136,W,60,10280,137,None,ST,1222602788,None,...,C,1,TW,None,w thames street,25,THAMES,2007-11-29T00:00:00+00:00,198,"MULTILINESTRING ((-74.01617 40.70790, -74.0166..."
8,1,None,None,34,10280,None,None,PL,1222601914,None,...,C,1,FT,None,1 place,29,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01700 40.70580, -74.0179..."
9,6,None,None,0,10280,None,None,PL,0,None,...,None,1,NV,None,1 place,30,FIRST,2007-11-29T00:00:00+00:00,None,"MULTILINESTRING ((-74.01793 40.70617, -74.0186..."

In [132]:
geom_df = scl[['st_label' , 'geometry'] ]
geom_df.head(3)

        st_label                                           geometry
0  battery place  MULTILINESTRING ((-74.01793 40.70617, -74.0178...
1  battery place  MULTILINESTRING ((-74.01757 40.70684, -74.0171...
2  battery place  MULTILINESTRING ((-74.01712 40.70746, -74.0166...

In [133]:
geom_df

,st_label,geometry
0,battery place,"MULTILINESTRING ((-74.01793 40.70617, -74.0178..."
1,battery place,"MULTILINESTRING ((-74.01757 40.70684, -74.0171..."
2,battery place,"MULTILINESTRING ((-74.01712 40.70746, -74.0166..."
3,battery place,"MULTILINESTRING ((-74.01694 40.70481, -74.0170..."
4,battery place,"MULTILINESTRING ((-74.01429 40.70455, -74.0143..."
...,...,...
120167,co-op city pedestrian path,"MULTILINESTRING ((-73.82562 40.87750, -73.8251..."
120168,co-op city pedestrian path,"MULTILINESTRING ((-73.82562 40.87750, -73.8254..."
120169,3 avenue,"MULTILINESTRING ((-73.92931 40.80948, -73.9292..."
120170,3 avenue,"MULTILINESTRING ((-73.92936 40.80944, -73.9293..."
120171,3 avenue,"MULTILINESTRING ((-73.92941 40.80940, -73.9293..."

In [ ]:
# add NEIGHBORS column
geom_df["NEIGHBORS"] = None 

for index, street in geom_df.iterrows():  
    neighbors = geom_df[geom_df.geometry.touches(street['geometry'])].st_label.tolist()
    neighbors = [ name for name in neighbors if street.st_label != name ]
    geom_df.at[index, "NEIGHBORS"] = ", ".join(neighbors)
    # save GeoDataFrame as a new file
geom_df.to_file("streets.geojson", driver='GeoJSON')

/Users/alejandrazapatasoveranez/opt/anaconda3/lib/python3.7/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [116]:
test = traffic.merge(geom_df, how='left', on='Roadway Name')

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,geometry
0,2,70376,3 avenue,e 154 street,e 155 street,NB,09/13/2014,204.0,177.0,133.0,...,611,573,546,582,528,432,328,282,240,"MULTILINESTRING ((-73.97951 40.74383, -73.9790..."
1,2,70376,3 avenue,e 154 street,e 155 street,NB,09/13/2014,204.0,177.0,133.0,...,611,573,546,582,528,432,328,282,240,"MULTILINESTRING ((-73.97996 40.74321, -73.9795..."
2,2,70376,3 avenue,e 154 street,e 155 street,NB,09/13/2014,204.0,177.0,133.0,...,611,573,546,582,528,432,328,282,240,"MULTILINESTRING ((-73.97906 40.74444, -73.9786..."
3,2,70376,3 avenue,e 154 street,e 155 street,NB,09/13/2014,204.0,177.0,133.0,...,611,573,546,582,528,432,328,282,240,"MULTILINESTRING ((-73.97861 40.74506, -73.9781..."
4,2,70376,3 avenue,e 154 street,e 155 street,NB,09/13/2014,204.0,177.0,133.0,...,611,573,546,582,528,432,328,282,240,"MULTILINESTRING ((-73.97812 40.74573, -73.9776..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039885,371,37916,3 avenue,e 99 street,e 100 street,NB,10/20/2019,360.0,277.0,233.0,...,698,763,773,691,677,640,660,465,294,"MULTILINESTRING ((-73.92942 40.80957, -73.9292..."
3039886,371,37916,3 avenue,e 99 street,e 100 street,NB,10/20/2019,360.0,277.0,233.0,...,698,763,773,691,677,640,660,465,294,"MULTILINESTRING ((-73.92924 40.80943, -73.9292..."
3039887,371,37916,3 avenue,e 99 street,e 100 street,NB,10/20/2019,360.0,277.0,233.0,...,698,763,773,691,677,640,660,465,294,"MULTILINESTRING ((-73.92931 40.80948, -73.9292..."
3039888,371,37916,3 avenue,e 99 street,e 100 street,NB,10/20/2019,360.0,277.0,233.0,...,698,763,773,691,677,640,660,465,294,"MULTILINESTRING ((-73.92936 40.80944, -73.9293..."
3039889,371,37916,3 avenue,e 99 street,e 100 street,NB,10/20/2019,360.0,277.0,233.0,...,698,763,773,691,677,640,660,465,294,"MULTILINESTRING ((-73.92941 40.80940, -73.9293..."